{{ partial "debug" "_default/single" }}
{{ partial "head" . }}

<body class="ctsingle">
<div class="site-wrapper">
  {{ partial "header" . }}

<main id="site-main" class="site-main outer" role="main">
  <div class="inner">

    <div class="post-feed">
      {{ partial "post-single" . }}
    </div>

    <nav class="pagination" role="navigation">
      {{if .NextInSection}}
          <a class="newer-posts" href="{{ .NextInSection.RelPermalink }}">&larr; <span class="hide">Nächster Beitrag</span></a>
      {{end}}
      <span class="page-number">&nbsp;</span>
      {{if .PrevInSection}}
          <a class="older-posts" href="{{ .PrevInSection.RelPermalink }}"><span class="hide">Voriger Beitrag</span> &rarr;</a>
      {{end}}
    </nav>

    
    {{ partial "disqus" . }}

  </div>
  <div class="inner">
    <h2>Weitere Beiträge zum Thema</h2>
  </div>
  <div class="inner" style="padding-top: 80px">
    <div class="post-feed">
      {{ partial "related" . }}
    </div>

  </div>
</main>


  <!--
<aside class="read-next outer">
  <div class="inner">
    <div class="read-next-feed">      
      {{ partial "readnext-random-sori" . }}
      {{with .NextInSection}}
      {{ partial "readnext-article-sori" . }}
      {{end}}
      {{with .PrevInSection}}
      {{ partial "readnext-article-sori" . }}
      {{end}}
    </div>
  </div>
</aside>
-->

{{ partial "footer" . }}

</div>
{{ partial "js" . }}
{{if eq .Site.Params.singleViewStyle "casper"}}{{ partial "js-sori" . }}{{end}}
</body></html>
