{{ if .IsPage }} <!-- Credit V JEANTET -->
    {{ if .Params.image }}
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:image" content="{{ .Site.BaseURL }}{{ .Page.Dir}}{{ .Params.image }}"/>
    {{ else }}
    <meta name="twitter:card" content="summary"/>
    {{ end }}
{{ else }}
    <meta name="twitter:card" content="summary"/>
{{ end }} <!-- Twitter Card data -->
    <meta name="twitter:title" content="{{ .Title }}"/>
    <meta name="twitter:description" content="{{if .IsPage}}{{ .Description | default (substr .Summary 0 160) }}{{ else }}{{ .Site.Params.description }}{{ end }}"/>
    <meta name="twitter:url" content="{{.URL | absURL}}" />
    <meta name="twitter:site" content="@{{ .Site.Params.twitterName }}"/>
